<template>
	<div class="pnf">
		<h3>404</h3>
		<p><h2>Page not found</h2></p>
	</div>
</template>
<script>
	export default{
		name: 'PageNotFound'
	}
</script>
<style>
	.pnf h3{
		font-size: 50px;
	}
</style>