<template>
	<div class="device">
		<div v-if="devices != ''" class="device-table">
			<table cellpadding="0" cellspacing="0">
				<!-- Iterates over every key-value-pair in devices -->
				<tr v-for="(value, key) in devices">
					<th class="d-header">{{key}}</th>
					<td v-if="key != 'audio' && key != 'acl'">{{value}}</td>
					<td v-else-if="key === 'audio'" class="nopad">
						<!-- Audio Cell with a table -->
						<table cellpadding="0" cellspacing="0">
							<tr class="sub-header">
								<th>source0</th>
							</tr>
							<tr>
								<td class="nopad">
									<!-- Cell with a table for easy viewing of audio-data -->
									<table cellpadding="0" cellspacing="0">
										<!-- Iterates over every key-value-pair in value.source0 -->
										<tr v-for="(v, k) in value.source0">
											<th class="a-header">{{k}}</th>
											<td>{{v}}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr class="sub-header">
								<th>clips</th>
							</tr>
							<tr>
								<td class="nopad">
									<!-- Cell with a table for easy viewing of audio-data -->
									<table cellpadding="0" cellspacing="0">
										<!-- Iterates over every key-value-pair in value.clips -->
										<tr v-for="(v, k) in value.clips">
											<th class="a-header">{{k}}</th>
											<td>{{v}}</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td v-else-if="key === 'acl'" class="nopad">
						<table cellpadding="0" cellspacing="0">
							<tr class="sub-header">
								<th>Device</th>
							</tr>
							<tr>
								<td class="nopad">
									<!-- Cell with a table for easy viewing of acl-data -->
									<table cellpadding="0" cellspacing="0">
										<tr v-for="(v, k) in value.device">
											<th class="a-header">{{k}}</th>
											<td v-for="n of v">{{n}}</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div v-else>
			<h2>No device that matches that ID</h2>
			<h3>
				<router-link to="/sites">Back to sites</router-link>
			</h3>
		</div>
	</div>
</template>

<script>
	import axios from 'axios';

	export default{
		name: 'Device',
		data(){
			return{
				devices: [],
				id: [this.$route.params.id], //Id is assigned the value from the URL ex. 00408C000001
			}
		},
		created(){
			/* Requests the device with the specified id from the API */
			axios({
				method: 'post',
				url: 'https://dev-api1.hosted.axis.com/device.php',
				data: {
					api : 'json',
					a : 'retrieve',
					deviceid: this.id,
					u: 'avhs-test',
					p: 'test!AVHS1024'
				},
			})
			.then(response => {
				this.devices = response.data.devices[this.id];
			})
			.catch(e => {
				console.log(e);
			})
		}
	}
</script>

<style>
	/* For mobile */
	.device{
		padding: 0px;
		background-color: white;
	}

	.device-table{
		overflow-x: auto;
		
		padding: 10px 10px;
	}

	.device-table table{
		margin: 0 auto;
		width: 100%;
	}

	.device-table .d-header{
		padding:10px 10px 10px 10px;
		border-bottom:1px solid #e0e0e0;
		background-color: #eaeaea;
	}

	.device-table .a-header{
		padding:10px 10px 10px 10px;
		border-bottom:1px solid #e0e0e0;
		background-color: #eaeaea;
	}

	.device-table .sub-header{
		padding:10px 10px 10px 10px;
		border-bottom:1px solid #e0e0e0;
		background-color: #bcbcbc;
	}

	.device-table tr{
		text-align: center;
	}

	.device-table td{
		padding:10px;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
	}

	.device-table td.nopad{
		padding: 0;
	}

	/* For desktop */
	@media only screen and (min-width: 768px){
		.device-table th.d-header{
			padding:21px 25px 22px 25px;
		}

		.device-table th.a-header{
			padding:21px 25px 22px 25px;
		}

		.device-table td{
			padding:18px;
		}
	}
</style>