<template>
	<!-- If the variable isToggled is true the div gets the class toggled -->
	<div :class='{ toggled: isToggled }' class="navigation">
		<div class="brand">
			Axis API
		</div>
		<router-link to='/sites'>Sites</router-link>
		<a v-on:click='toggleNav' href="javascript:void(0)" class="toggle-btn">&#9776;</a>
	</div>
</template>

<script>
	export default{
		name: 'Navigation',
		data(){
			return{
				isToggled: false
			}
		},
		methods: {
			toggleNav: function(){
				if(this.isToggled){
					this.isToggled = false;
				}else{
					this.isToggled = true;
				}
			}
		}
	}	
</script>

<style>
	/* For small devices */
	.navigation{
		background-color: #333;
    	overflow: hidden;
	}

	.navigation .brand{
		display: block;
		float: left;
		font-size: 30px;
		padding: 10px 10px;	
		font:'Raleway', sans-serif;
	    color: white;
	    text-align: center;
	    text-transform: uppercase;
	    letter-spacing: 10px;
	}

	.navigation .toggle-btn{
		float: right;
		display: block;
	}

	.navigation a{
		display: none;
		color: white;
		text-decoration: none;
		font-size: 25px;
		float: left;
		padding: 11px 10px;
		font:'Raleway', sans-serif;
	    color: white;
	    text-align: center;
	    letter-spacing: 5px;
	}

	.navigation a:hover{
		background-color: #ddd;
    	color: black;
	}

	/* For a responsive navbar */
	.navigation.toggled{
		position: relative;
	}

	.navigation.toggled .toggle-btn{
		position: absolute;
		top: 0;
		right: 0;
	}

	.navigation.toggled a{
		float: none;
		display: block;
		background-color: #565656;
	}

	.navigation.toggled .brand{
		float: none;
	}

	/* For desktops */
	@media only screen and (min-width: 768px){
		.navigation .brand{
			font-size: 35px;
			background-color: gray;
			color: rgba(0,0,0,.5);
		}

		.navigation a{
			display: block;
			font-size: 24px;
			padding: 16px 10px;
			background-color: #333;
		}

		.navigation .toggle-btn{
			display: none;
		}
	}
</style>