<template>
	<div class="sites">
		<div class="site-table">
			<table cellpadding="0" cellspacing="0">
				<tr class="s-header">
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>ExternalID</th>
					<th>Devices</th>
				</tr>
				<tr v-for="site in sites">
					<td>{{ site.id }}</td>
					<td>{{ site.name }}</td>
					<td>{{ site.description }}</td>
					<td>{{ site.externalid }}</td>
					<!-- The cell only renders if site.devices isn't empty -->
					<td v-if="site.devices != ''" class="devices">
						<table cellpadding="0" cellspacing="0">
							<tr class="d-header">
								<th>ID</th>
								<th>Name</th>
								<th>Model</th>
								<th>Version</th>
								<th>Connected</th>
								<th>Videosources</th>
							</tr>
							<!-- A sub-table for devicces related to the site -->
							<tr v-for="device in site.devices">
								<!-- Link to a more detailed page about the device -->
								<td><router-link :to="{ name: 'Device', params: { id: device.id }}">{{ device.id }}</router-link></td>
								<td>{{ device.name }}</td>
								<td>{{ device.model }}</td>
								<td>{{ device.version }}</td>
								<td>{{ device.connected }}</td>
								<td>{{ device.videosources }}</td>
							</tr>
						</table>
					</td>
					<!-- If site.devices is empty render nothing -->
					<td v-else></td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
	import axios from 'axios';

	export default{
		name: 'Sites',
		data(){
			return{
				sites: [],
			}
		},
		/* When created the component will do the following */
		created(){
			/* VueJS method of HTTP Requests with the third-party app Axios*/
			axios({
				method: 'post',
				url: 'https://dev-api1.hosted.axis.com/site.php',
				data: {
					api : 'json',
					a : 'retrieve',
					u: 'avhs-test',
					p: 'test!AVHS1024'
				},
			})
			.then(response => {
				this.sites = response.data.sites;
			})
			/* Catches and log errors in the console */
			.catch(e => {
				console.log(e);
			})
		}
	}
</script>

<style>
	/* For mobile */
	.sites{
		padding: 0;
		background-color: white;
	}

	.site-table{
		overflow-x: auto;
		padding: 10px 10px;
	}

	.site-table table{
		margin: 0 auto;
		width: 100%;
	}

	.site-table tr.s-header th{
		padding:10px 10px 10px 10px;
		border-bottom:1px solid #e0e0e0;
		background-color: #eaeaea;
	}

	.site-table tr.d-header th{
		padding:10px 10px 10px 10px;
		border-bottom:1px solid #e0e0e0;
		background-color: #eaeaea;
	}

	.site-table tr{
		text-align: center;
	}

	.site-table td{
		padding:10px;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
	}

	.site-table td.devices{
		padding: 0;
	}

	/* For desktop */
	@media only screen and (min-width: 768px){
		.site-table tr.s-header th{
			padding:21px 25px 22px 25px;
		}

		.site-table tr.d-header th{
			padding:21px 25px 22px 25px;
		}

		.site-table td{
			padding:18px;
		}
	}
		
</style>